* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  height: 600px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.sidebar {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80%;
    max-width: 400px;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}