{% extends 'base.html' %}
{% load static %}

{% block page_heading %}
  User Profile
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'user_profile.css' %}">
{% endblock %}

{% block content %}
  <div class="line">
    <div class="content">
      <form method="post" action="{% url 'CryptoCrackers:user_profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
        <a href="{% url 'CryptoCrackers:index' %}">
          <button type="button">Cancel</button>
        </a>
      </form>
    </div>
  </div>
{% endblock %}
