{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class=" mt-10 text-center text-xl">Crypto Watchlist</h1>
    <button onclick="toggleClass()" id  = "assetBtn" class="ml-[92%] bg-blue-100 py-2 px-3.5 mb-3 font-semibold">Add Asset</button>
    <table class="table table-bordered border border-1 w-full">
        <thead class="bg-blue-100">
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price (USD)</th>
                <th>Market Cap (USD)</th>
                <th>24h Volume (USD)</th>
                <th>Change (24h)</th>
            </tr>
        </thead>
        <tbody>
            {% for coin in coins %}
            <tr class="even:bg-blue-50">
                <td>{{ coin.name }}</td>
                <td>{{ coin.symbol }}</td>
                <td>${{ coin.price|floatformat:2 }}</td>
                <td>${{ coin.market_cap|floatformat:2 }}</td>
                <td>${{ coin.volume_24h|floatformat:2 }}</td>
                <td>{{ coin.change_24h|floatformat:2 }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="asset-modal" class=" hidden inset-0 left-1/2 top-1/2 -translate-x-1/2  shadow-md h-[500px] relative pt-8 w-[50%]">
        <span onclick="toggleClass()" class=" inline-block absolute right-0 top-0 bg-gray-300  px-2.5 py-1 font-bold cursor-pointer">X</span>
        <div>
            <table class="table table-bordered border border-1 w-full ">
                <thead class="bg-blue-100">
                    <tr>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>Add to wishlist</th>
                    </tr>
                </thead>
                <tbody>
                    {% for coin in coins %}
                    <tr class="even:bg-blue-50">
                        <td>{{ coin.name }}</td>
                        <td>{{ coin.symbol }}</td>
                        <td>${{ coin.price|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
function toggleClass() {
      var element = document.getElementById("asset-modal");

      // Check if the element has the 'highlight' class
      if (element.classList.contains("block")) {
        // If it does, remove the class
        element.classList.remove("block");
        element.classList.add("hidden");
      } else {
        // If it doesn't, add the class
        element.classList.add("block");
        element.classList.remove("hidden");
      }
    }
</script>
{% endblock %}