{% extends 'base.html' %}

{% block content %}
<div class="flex mt-10 flex-col items-center">
    <h1 class="text-xl">Enter Payment Information</h1>
    <form class="flex flex-col my-3" method="post" action="{% url 'Payments:Payments' %}">
        {% csrf_token %}
        <label for="amount">Amount:</label>
        <input class="border py-2 px-2 " type="number" id="amount" name="amount" required>
        <button class="bg-[#2196f3] text-white py-2 mt-3 px-5" type="submit">Submit Payment</button>
    </form>
</div>

{% endblock %}
